<div id="glab-app-history" data-title="Appointment History">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Service</th>
                <th>Practitioner</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Acupuncture
                </td>
                <td>
                    Rebecca Risk
                </td>
                <td>
                    12-12-2016
                </td>
                <td>
                    12:30pm
                </td>
                <td>
                    <a class="cancel-appt-btn" href="#">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>