<div id="glab-app-history" class="glab-app-history" data-title="Appointment History">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Service</th>
                <th>Practitioner</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#appt of _historyService.appointments" >
                <td>
                    {{appt.service}}
                </td>
                <td>
                    {{appt.practitioner}}
                </td>
                <td>
                    {{appt.date}}
                </td>
                <td>
                    {{appt.time}}
                </td>
                <td>
                    <a *ngIf="appt.status==='upcoming'" class="cancel-appt-btn" href="#">Cancel</a>
                    <span *ngIf="appt.status==='expired'" >N/A</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>