<div id="glab-new-appt" data-title="Make an appointment">
    <div  [hidden]="!_apptService.successMsg" class="alert alert-success"  role="alert">{{_apptService.successMsg}}</div>
    <div  [hidden]="!_apptService.errorMsg" class="alert alert-danger"  role="alert">{{_apptService.errorMsg}}</div>
    
    <form [hidden]="_apptService.successMsg" [ngFormModel]="apptForm" #f="ngForm" (ngSubmit)="doAppointment()" role="form" method="post" action="submitApp" data-update="#glab-main-container" class="glab-new-form glab-form">
        
        <div class="form-group">
            <label for="service">Service</label>
            <select ngControl="service" (change)="changePractitioners($event)" required id="service" class="form-control" name="services" placeholder="Select Service">
                <option value="" disabled selected>Select Service</option>
                <option *ngFor="#s of _apptService.services" [value]="s.id">{{ s.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="practitioner">Practitioner</label>
            <select ngControl="practitioner" id="practitioner" required  class="form-control" name="practitioners">
                <option value="" disabled selected>Select Pracitioner</option>
                <option *ngFor="#p of _apptService.practitioners" [value]="p._id">{{ p.firstName + ' ' + p.lastName }}</option>
            </select>
            <span *ngIf="_apptService.loading==='practitioners'">loading....</span>
        </div>

        <div class="form-group app-date-container">
            <label for="app_date">Appointment Date:</label>
            <input #date ngControl="date" required   placeholder="Select Date" type="text" class="form-control datepicker" name="app_date" id="app_date" />
        </div>

        <div class="form-group">
            <label for="app_time">Time:</label>
            <select ngControl="slot" required  id="app_time" class="form-control" name="app_time">
                <option value="" disabled selected>Select Slot</option>
                <option *ngFor="#slot of _apptService.slots" [value]="slot">{{ slot }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="app_reminder">Reminder Type:</label>
            <select ngControl="reminder" required id="app_reminder" class="form-control" name="app_reminder">
                <option value="" disabled selected>Select Reminder</option>
                <option *ngFor="#reminder of _apptService.reminders" [value]="reminder">{{ reminder }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="pt_comments">Add Comment:</label>
            <textarea ngControl="comment" #comment class="form-control" id="pt_comments" name="pt_comments"></textarea>
        </div>

        <button type="submit" class="btn btn-default glab-btn">Submit</button>

        <!--<div class="form-group account-options">
            <a href="#" class="wait-btn">or Request an <strong>waiting appointment</strong></a>
            <a href="#" class="new-btn">or Create an <strong> appointment</strong></a>
        </div>-->
    </form>
</div>