<div id="glab-login" style="padding-top: 20px;" data-title="Please Login First To Book Appointment">
    <div id="" *ngIf="hasError" class="alert alert-danger" role="alert">{{ error }}</div>
    <form role="form" action="login" (ngSubmit)="onSubmit()"  #loginForm="ngForm" method="post" class="glab-login-form glab-form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" ngControl="email" #spy
            #email="ngForm" placeholder="Enter email">
            <div [hidden]="email.untouched || email.valid" class="alert alert-danger">
                Email is required
            </div>
            <!--TODO: remove this: {{model.email}} TODO: remove this: {{spy.className}}-->
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" required [(ngModel)]="model.password" ngControl="password"
            placeholder="Password">
        </div>

        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-default glab-btn">Submit</button>

        <div class="form-group account-options">
            <a href="#" class="forgot-btn" [routerLink]="['Forgot']">Forgot <strong>Password</strong>?</a>
            <br/>
            <a href="#" class="register-btn" [routerLink]="['Register']">Create <strong>Account</strong>?</a>
        </div>
    </form>
</div>