<div id="glab-edit-profile" data-title="Please Login First To Book Appointment">
    <form role="form" [ngFormModel]="profileForm" #f="ngForm" method="post" action="updateProfile" data-update="#glab-edit-status" class="glab-edit-profile-form glab-form">

        <div class="form-group">
            <label for="editFirstName">First Name</label>
            <input type="text" required id="editFirstName" class="form-control" ngControl="firstName" />
        </div>

        <div class="form-group">
            <label for="editLastName">Last Name</label>
            <input type="text" required id="editLastName" class="form-control" ngControl="lastName" value="" />
        </div>

        <div class="form-group">
            <label for="editEmail">E-mail</label>
            <input type="text" disabled="disabled" id="editEmail" class="form-control" ngControl="email" value="" />
        </div>

        <div class="form-group">
            <label for="pass_option">Password</label>
            <a href="#" id="pass_option" name="pass_option">change password?</a>
        </div>

        <div class="form-group pass_options">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" class="form-control" name="new_password" />
        </div>

        <div class="form-group pass_options">
            <label for="re_password">Retype Password (Type your new password again)</label>
            <input type="password" id="re_password" class="form-control" name="re_password" />
        </div>

        <div class="form-group">
            <label for="editPhone">Phone</label>
            <input type="text" required id="editPhone" class="form-control" ngControl="phone" value="" />
        </div>


        <div class="form-group">
            <label for="editContact">Contact Me</label>
        </div>

        <div class="checkbox">
            <label>
                <input id="editContact1" ngControl="contactMethod" name="editContact" type="radio" value="email"> Email
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input id="editContact2" ngControl="contactMethod" name="editContact" type="radio" value="phone"> Phone
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input id="editContact3" ngControl="contactMethod" name="editContact" type="radio" value="both"> Both
            </label>
        </div>

        <button type="submit" class="btn btn-default glab-btn" style="">Submit</button>
    </form>
</div>